<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="tab-bar">
      <button class="tab-bar-item tab-button">미세먼지</button>
      <button class="tab-bar-item tab-button">예보</button>
    </div>

    <div id="dust" class="tab-container dust">
      <div class="info-window">
        <h2>미세먼지 웹</h2>
        <div class="info-emoji">😀</div>
        <div class="info-grade">좋음</div>
        <div class="info-statistics">
          <span>30</span>
          <span>오늘 16:00</span>
        </div>
        <p><i>강남구</i>측정소 기준</p>
      </div>
      <div class="dust-charts"></div>
    </div>

    <div id="forecast" class="tab-container forecast">
      <h2>미세먼지 예보</h2>
      <p>Paris is the capital of France.</p>
    </div>
  </body>
</html>
