<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/reset.css" />
    <link rel="stylesheet" href="../style/dust.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="tab-bar">
      <button class="tab-bar-item tab-button">미세먼지</button>
      <button class="tab-bar-item tab-button">예보</button>
    </div>

    <div id="dust" class="tab-container dust">
      <div class="info-window">
        <h2>미세먼지 웹</h2>
        <div class="info-emoji">😀</div>
        <div class="info-grade">좋음</div>
        <div class="info-statistics">
          <span class="statistics-numeric">30</span>
          <span class="statistics-time">16</span>
        </div>
        <p><i>강남구</i>측정소 기준</p>
      </div>
      <div class="dust-charts">
        <div class="chart chart--dev">
          <ul class="chart--horiz">
            <li class="chart__bar" style="width: 98%;">
              <span class="chart__label">
                196
              </span>
            </li>
            <li class="chart__bar" style="width: 98%;">
              <span class="chart__label">
                196
              </span>
            </li>
            <li class="chart__bar" style="width: 70%;">
              <span class="chart__label">
                140
              </span>
            </li>
            <li class="chart__bar" style="width: 40%;">
              <span class="chart__label">
                80
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="forecast" class="tab-container forecast">
      <h2>미세먼지 예보</h2>
      <p>Paris is the capital of France.</p>
    </div>
  </body>
</html>
